[user]
	name = Johan Sand
[init]
	defaultBranch = main
[core]
    editor = vim
[alias]
    graph = log --all --abbrev-commit --decorate --graph
    hs = log --pretty=format:\"%h %C(yellow)%ad%x09%C(red)%d %Creset%s\" --date=short
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
